/**
 * 样式定义
 */

div.x-header {
    top: 0px;
    width: 100%;
    z-index: 999;
    position: fixed;
}

.weui-grid__icon {
    text-align: center;
}

.card-flex {
    display: flex;
}
.card-content {
    padding: 6px;
}
.main-content {
    min-height: 40px;
}
.card-flex > div {
    flex: 1;
}
.card-flex.card-content {
    font-size: 14px;
}

.ql-editor.rich-text {
    padding: 3%;
}

.ql-editor.rich-text img {
    width: 100%;
    margin: 5px 0;
}

.ql-editor.rich-text pre {
    padding: 5px 5px;
}

body {
    background: #fbf9fe;
}
body a {
    outline: none;
}
body #main {
    margin: 60px 0 66px;
}

div.note-read {
    padding: 3%;
}
div.note-read p.title {
    color: blue;
    font-size: 16px;
    text-align: center;
}
div.note-read p.datetime {
    color: #666;
    font-size: 12px;
    text-align: right;
}

div.user-image {
    margin: 20px 0;
    text-align: center;
}
div.user-image img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50px;
}

div.login {
    top: 30%;
    left: 50%;
    width: 90%;
    position: absolute;
    transform: translate(-50%, -50%);
}
